services:
  nuxt-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: nuxt-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.nuxt
